.detailFigure {
  display: flex;
  gap: 2rem;
  max-width: 1920px;
  margin: 7rem auto;
  padding: 2rem;
  background-color: #1e2024;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  img {
    max-width: 400px;
    height: 600px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transition: 300ms;

    &:hover {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 768px) {
      max-width: 100%;
      height: auto;
    }
  }

  figcaption {
    flex: 1;
    color: white;
    font-family: "Inter", serif;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      font-family: "Exo", "sans-serif";
    }

    .description {
      background-color: #262931;
      padding: 1rem;
      border-radius: 8px;
      margin-bottom: 1rem;

      p {
        margin-bottom: 1rem;
        line-height: 1.5;
        font-size: 1.2rem;
        color: white;
      }
    }



    #a {
      display: inline-block;
      background-color: #2D7DFE;
      color: white;
      padding: 1rem;
      border-radius: 5px;
      font-size: 1.2rem;
      margin-top: 1.5rem;
      text-decoration: none;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
      transition: 300ms;

      &:hover {
        background-color: #1e5cda;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
      }

    }
  }

  .stock {
    font-size: 1.3rem;
  }

  .posterDimensions {
    margin: 1.5rem 0;

    h2 {
      font-size: 1.3rem;
      margin: 0 0 1rem 0;
    }

    .dimensions {
      border: 1px solid #ccc;
      border-radius: .5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      p {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 2rem;
      }

    }

  }
}

.price {
  font-size: 2.2rem;
  margin: 0;
  font-weight: 600;
}