.about-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Exo", "sans-serif";


  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;

    li {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  }
}
