.Cart {
    position: fixed;
    top: 0;
    right: -600px;
    width: 600px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 5;
    color: #000000;
    font-family: Helvetica, sans-serif;

    .CartHeader {
        display: flex;
        margin-top: 1.25rem;
        padding-bottom: .25rem;
        border-bottom: #ccc 1px solid;
        align-items: center;

        #CartTitle {
            margin: 0 0 1rem 1.5rem;

            h2 {
                font-weight: 400;
                text-transform: uppercase;
                font-size: 1.3rem;
                margin: 0;
                pointer-events: none;
            }
        }

        .CartCloseContainer {
            width: 7%;
            height: 7%;
            margin: 0 1.5rem 1rem auto;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                font-weight: 100;

            }
        }
    }

    .allProductsContainer {
        margin: 1.5rem;

        .scrollContainer {
            height: 540px;
            overflow-y: auto;
            overflow-x: hidden;

            /* #region scrollbar */
            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: #ffffff00;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: #ffffff00;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #ffffff00;
            }

            /* #endregion scrollbar */
        }



        .productContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto 2rem auto;
            padding-bottom: 1.5rem;
            border-bottom: 1px #ccc solid;
            height: fit-content;

            .productImages {
                max-width: 400px;
                height: 200px;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }


            .productText {
                width: 90%;
                margin: 0 auto;
            }

            .quantityAndRemoveContainer {
                margin: 100% 0 0 0;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

        }

    }

    .exit {

        .TotalContainer {
            display: flex;
            justify-content: space-between;
            font-size: 1.7rem;
            text-transform: uppercase;
            padding: 1rem 0;
            border-top: #ccc 1px solid;

            .price {
                font-weight: 600;
            }
        }

        .CheckOut {
            background-color: #000000;
            color: white;
            font-size: 1.7rem;
            text-transform: uppercase;
            width: 100%;
            padding: 1.5rem 0;
            border: 1px solid black;
            cursor: pointer;
            transition: 200ms ease-in-out;

            &:hover {
                background-color: white;
                color: #000000;

            }
        }
    }

}

.Cart.open {
    right: 0;
}

.CartOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 4;

}

.CartOverlay.open {
    opacity: 1;
    visibility: visible;

}