*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    background-color: #1C2739;
    color: white;
    overflow-x: hidden;
    // // width: 100px;
    // // margin: 0 auto;
    // // overflow-x: hidden;
    // // display: flex;
    // // justify-content: center;
}
main{
    width: 85%;
    margin: 0 auto;

}