#nav-section {
    background-color: #1c4eb4;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", serif;
    z-index: 4;

    img {
        width: 100px;
        height: auto;
        padding-top: 0.6rem;
    }

    li {
        display: inline-flex;
        justify-content: space-between;
        justify-content: center;
        padding: 0 2rem;

    }

    a {
        font-size: 1.3rem;
        font-weight: 500;
        color: white;
        text-decoration: none;
        box-sizing: border-box;
        transition: 300ms ease-in-out;
    }

    .active {
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 1.3rem;

    }

    #logo-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #logo-container img {
        height: 5rem;
        aspect-ratio: 1/1;
    }

    #link-left {
        margin-left: 1rem;
    }

    #link-right {
        margin-right: 3rem;

        li {
            margin-right: .5rem;
            line-height: 5rem;
            height: fit-content;
            display: inline;
            text-align: center;
            position: relative;
            cursor: pointer;

            img {
                width: 2rem;
                margin: 0 0 .2rem 0;
                padding-left: .5rem;
                position: absolute;
                bottom: -0.25rem;
                transition: 300ms ease-in-out;
            }
        }
    }

    @media (max-width: 1200px) {
        #logo-container {

            img {
                display: none;
            }
        }

    }

    @media (max-width: 890px) {
        flex-direction: column;
        height: auto;



        ul {
            display: flex;
            align-items: center;
            width: 100%;

        }

        li {
            padding: .5rem 1rem;
            width: fit-content;
            margin: 0 auto;

            img {
                display: none;
            }
        }

        #link-left,
        #link-right {
            margin: 0;
        }


        #link-right {
            background-color: #10151F;
            display: flex;
            flex-direction: row;
            padding: 0;

            li {
                margin: 0 auto;
                margin: 0;
                width: 100%;
                height: fit-content;
            }
        }

        #logo-container {
            margin: 1.4rem auto 0 auto;
            left: 4rem;

            img {
                display: inline;
            }
        }
    }

}