.HeaderBackground {
    position: relative;
    width: 100vw;
    height: 40vh; // Full viewport height
    overflow: hidden; // Prevent scrolling due to video overflow
    margin-top: 8rem;
    font-family: "Exo", "sans-serif";
    
    
  
    .background-video {
      position: absolute;
      top: 50%; // Center vertically
      left: 50%; // Center horizontally
      transform: translate(-50%, -50%); // Center the video
      min-height: 100%; // Ensure video fills height
      object-fit: cover; // Scale video to cover the container
      z-index: 1; // Send video to the background
      opacity: 0.8;

    }
  
    .HeaderContent {
      position: relative; // Content stays above video
      z-index: 2; // Higher z-index than video
      text-align: center;
      color: white; // Ensure text is visible
  
      h1 {
        font-size: 3rem;
        font-weight: 350;
        padding: 1rem;
        padding-top: 1.5rem;
       
      }
  
      h2 {
        font-size: 2rem;
        font-weight: 300;
        margin: 10px 0 0;
      }
      #Unlimited{
        font-weight: 500;
        font-size: 3rem;

      }
      #top{
        padding-top: 2.2rem;
      }
    }
  }
 